.bg-danger {
     background-color: #df6c6e;
}

.flatGreenc {
     background: #6fd64b  none repeat scroll 0 0;
}
.paddingTop25{
     padding-top: 25px;
}
.center{
     text-align: center !important;
}
.width100px{
     width: 100px;
}
.curPointer{
     cursor: pointer;
}
.left80, .left10{
     float: left;
}
.left80{
     width: 80% !important;
}
.left10{
     width: 20% !important;
}
.hourlyTable th{
     width: 17%;
}
.FCMTable th{
     width: 10%;
}
.projTable th{
     width: 12%;
}
.right20{
     float: right;
     width: 100% !important;
}
th,td{
     vertical-align: middle !important;
}
.table{
     margin-bottom: 20px !important;
     margin-top: 30px;
}
.carrot{
     background-color: #e67e22 !important;
}
.blue{
     background-color: #2980b9 !important;
}
.scrollableTable {
    width: 100%;
    overflow: auto;
}
.scrollableTable tr td:first-child {
    color: red;
}
.tdwidth50 td{
     min-width: 90px;
}