<aside class="right-side">
	<section class="content-header">
		<!--<h1>Collection forecasting</h1>-->
		<ol class="breadcrumb">
			<li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a> Collection forecasting</a></li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
               <div class=" with-border">
                  <center><h1 class="box-title">Collection Forecast</h1></center>
               </div>
               <div class="box-body clearfix">
                  <div class="form-group">
                     <div class="row">
                        <div class="form-group col-md-2">
                           <label>Project Title </label>
                           <input required  type="text"  class="form-control" />
                        </div>
                        <div class="form-group col-md-2">
                           <label>Status </label>
                           <select class="form-control">
                              <option>Open</option>
                              <option>Closed</option>
                              <option>Halted</option>
                              <option>Diputed</option>
                              <option>Complete</option>
                           </select>
                        </div>
                        <div class="form-group col-md-2">
                           <label>Group </label>
                           <select class="form-control">
                              <option>Repeat Group</option>
                              <option>Microsoft Group</option>
                              <option>OS Group</option>
                              <option>ITS Group</option>
                              <option>BigDate Group</option>
                              <option>Other Group</option>
                           </select>
                        </div>
                        <div class="form-group col-md-2">
                           <label>SP </label>
                           <select class="form-control">
                              <option>OS</option>
                              <option>MG</option>
                              <option>MS</option>
                              <option>BD</option>
                              <option>Tech</option>
                           </select>
                        </div>
                        <div class="form-group col-md-2">
                           <label>Channel </label>
                           <select class="form-control">
                              <option>D</option>
                              <option>E</option>
                              <option>UW</option>
                           </select>
                        </div>
                        <div class="form-group col-md-2">
                           <label>Branch </label>
                           <select class="form-control">
                              <option>SDM</option>
                              <option>SDN</option>
                              <option>SDD</option>
                           </select>
                        </div>
                        <div class="form-group col-md-2">
                           <label>Type </label>
                           <select class="form-control">
                              <option>Fixed Cost</option>
                              <option>Man Month</option>
                              <option>Hourly</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
			</div>
		</div>
	</section>
</aside>